
        * {
            font-family: "Roboto", sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            transition: all 0.4s;
        }

        .container {
            margin-left: 5%;
            margin-right: 5%;
        }

        /* Navbar section */
        .nav {
            width: 100%;
            height: 65px;
            position: fixed;
            line-height: 65px;
            text-align: center;
            background-color: #007BFF;
        }

        .nav div.logo {
            width: 180px;
            height: 10px;
            position: absolute;
        }

        .nav div.logo a {
            text-decoration: none;
            color: #fff;
            font-size: 1.8em;
            font-weight: 900;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        .nav div.logo a:hover {
            color: #FFC107;
        }

        .nav div.main_list {
            width: 600px;
            height: 65px;
            float: right;
        }

        .nav div.main_list ul {
            width: 100%;
            height: 65px;
            display: flex;
            list-style: none;
        }

        .nav div.main_list ul li {
            width: 120px;
            height: 65px;
        }

        .nav div.main_list ul li a {
            text-decoration: none;
            color: #fff;
            line-height: 65px;
            text-transform: uppercase;
        }

        .nav div.main_list ul li a:hover {
            color: #FFC107;
        }

        .nav div.media_button {
            width: 40px;
            height: 40px;
            background-color: transparent;
            position: absolute;
            right: 15px;
            top: 12px;
            display: none;
        }

        .nav div.media_button button.main_media_button {
            width: 100%;
            height: 100%;
            background-color: transparent;
            outline: 0;
            border: none;
            cursor: pointer;
        }

        .nav div.media_button button.main_media_button span {
            width: 98%;
            height: 1px;
            display: block;
            background-color: #fff;
            margin-top: 9px;
            margin-bottom: 10px;
        }

        .nav div.media_button button.main_media_button:hover span:nth-of-type(1) {
            transform: rotateY(180deg);
            transition: all 0.5s;
            background-color: #FFC107;
        }

        .nav div.media_button button.main_media_button:hover span:nth-of-type(2) {
            transform: rotateY(180deg);
            transition: all 0.4s;
            background-color: #FFC107;
        }

        .nav div.media_button button.main_media_button:hover span:nth-of-type(3) {
            transform: rotateY(180deg);
            transition: all 0.3s;
            background-color: #FFC107;
        }

        .nav div.media_button button.active span:nth-of-type(1) {
            transform: rotate3d(0, 0, 1, 45deg);
            position: absolute;
            margin: 0;
        }

        .nav div.media_button button.active span:nth-of-type(2) {
            display: none;
        }

        .nav div.media_button button.active span:nth-of-type(3) {
            transform: rotate3d(0, 0, 1, -45deg);
            position: absolute;
            margin: 0;
        }

        .nav div.media_button button.active:hover span:nth-of-type(1) {
            transform: rotate3d(0, 0, 1, 20deg);
        }

        .nav div.media_button button.active:hover span:nth-of-type(3) {
            transform: rotate3d(0, 0, 1, -20deg);
        }

        /* Home section */
        .home {
            width: 100%;
            background-color: #ddd;
            display: flex;
            flex-wrap: nowrap;
            padding-top: 65px;
        }

        .sidebar {
            width: 250px;
            background-color: #333;
            color: #fff;
            padding: 20px;
            position: fixed;
            height: 100%;
            overflow-y: auto;
        }

        .sidebar h2 {
            margin-bottom: 20px;
        }

        .sidebar ul {
            list-style-type: none;
        }

        .sidebar ul li {
            margin-bottom: 10px;
        }

        .sidebar ul li a {
            color: #fff;
            text-decoration: none;
        }

        .sidebar ul li a:hover {
            color: #FFC107;
        }

        .main-content {
            display: flex;
            flex-wrap: wrap;
            margin-left: 250px;
            padding: 20px;
            overflow-y: auto;
            width: calc(100% - 250px);
        }

        .product {
            flex: 0 0 calc(33.33% - 20px); 
            background-color: #FFFFFF;
            padding: 20px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 30px;
        }

        /* Media query section */
        @media screen and (max-width: 768px) {
    .container {
        margin: 0;
    }

    .nav {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.main_list {
        width: 100%;
        margin-top: 6px;
        height: 0px;
        overflow: hidden;
        position: absolute; 
        top: 65px; 
        background-color: #007BFF; 
    }

    .nav div.show_list {
        height: 200px;
    }

    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }

    .nav div.main_list ul li {
        width: 100%;
        height: 100px;
        background-color: #007BFF;
        margin-top: .6px;
    }

    .nav div.main_list ul li a {
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }

    .nav div.media_button {
        display: block;
    }

    .home {
        flex-direction: column;
        padding-top: 65px;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .product {
        flex: 0 0 calc(100% - 20px); 
        margin: 10px auto; 
    }

    .sidebar ul li {
        display: none;
    }

    .sidebar {
        text-align: center;
        font-size: 7px;
        display: flex;
        justify-content: space-between;
    }

    .hide_text {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }

    .main-content {
        display: flex;
        justify-content: center;
    }

    .product {
        flex: 0 0 calc(50% - 20px); 
        margin: 10px;
    }
}

a.buy {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; 
    color: #ffffff; 
    text-decoration: none; 
    border-radius: 5px; 
    font-weight: bold; 
}


a.buy:hover {
    background-color: #2980b9; 
    color: #ffffff; 
}
.footer {
            background-color: #007BFF;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: fixed;
            display: flex;
            justify-content: space-evenly;
            bottom: 0;
            width: 100%;
            z-index: 1000; 
        }

        .social-links a{
            color: white;
            padding: 10px;
            text-decoration: none;
        }

